*{
  margin: 0;
}
.wrap{
  margin: 0 auto;
  width: 600px;
}
.nav-list{
  display: flex;
  list-style: none;
  justify-content: end;
}
li{
  margin: 10px;
}
section{
   justify-content: center;
}
.title-icon{
  background-color: beige;
}
.profile-img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.logo-img{
  justify-content: center;
}
.main{
  margin: 140px 0 38px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  margin: 10px;
}
.footer-nation{
  margin-left: 49px;
}
.footer-list{
  display: flex;
  list-style: none;
  justify-content: space-around;
}
input{
  /* border: none; */
  font-family: inherit;
  width: 90%;
  height: 100%;
  /* outline: none; */
}